section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* color: red; */
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

section .devider {
    border-bottom: 1px solid rgba(113, 113, 122, 0.13);
    width: 100%;
}

/* * {
    outline: 1px solid red;
} */

section.home .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;
}

section.home .about-me .avatar img {
    width: 100px;
    border-radius: 50%;
}

section.home .about-me h2 {
    padding: 0;
    margin: 0;
    font-family: 'Mona Sans';
    font-weight: 500;
    font-size: 20px;
    color: rgb(236 236 239 / 1);
}

section.home .about-me-description {
    /* margin-left: 1rem; */
    opacity: 0.9;
}

section.home .about-me-description h2 {
    padding: 0;
    margin: 0;
    font-family: 'Mona Sans';
    font-weight: 450;
    font-size: 16px;
    color: #9BA1A5;
    word-spacing: -0.01em;
    line-height: 1.6em;
    margin-bottom: 1.5rem;
}

section.home .vertical-center {
  display: flex;
  word-break: break-all;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

@keyframes waving {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  section.home .about-me-description h2 span {
    display: inline-block; 
    transform-origin: 70% 70%;
    animation: waving 2s infinite;
  }
  


section.home .about-me svg {
    width: 34px;
    height: 34px;
    animation: rotater 6s infinite linear;
    opacity: 0.3;
}

@keyframes rotater {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
