section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: var(--text-color);

    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

section .devider {
    border-bottom: 1px solid rgba(113, 113, 122, 0.13);
    width: 100%;
}

@media (max-width: 700px) {
    section {
        margin: 1.5rem;
    }
}

/* * {
    outline: 1px solid red;

} */

section.home .about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

section.home .about-me h2 {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: rgb(236 236 239 / 1);
}

section.home .about-me-description h2 {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 450;
    font-size: 16px;
    color: #D4D4D8;
    margin-bottom: 1.5rem;
}

section.home .about-me svg {
    width: 34px;
    height: 34px;
    animation: rotater 6s infinite linear;
    opacity: 0.3;
}

@keyframes rotater {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
