.footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #18181b65;
    border: 0.6px solid rgba(255, 255, 255, 0.096);
    border-radius: 0.75rem;
    width: 100%;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 32px;
}

.footer header {
    padding: 0;
    margin: 0;
}

.footer header h1 {
    font-weight: 600;
    font-size: 14px;
    margin: 20px;
    margin-bottom: 0rem;
    color: rgb(164, 164, 175);
}

.footer header h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 10px;
    margin-left: 20px;
    color: rgba(164, 164, 175, 0.788);
    opacity: 0.5;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer ul a {
    display: flex;

    align-items: center;
    box-sizing: border-box;
    padding: 0.6rem;
    padding-left: 1rem;
    margin: 0.3rem;
    border-radius: 8px;
    border: 0.6px solid transparent;
    transition: 0.25s ease-in-out;
}

.footer ul a:hover {
    background-color: #1b1b1d9c;
    /* cursor: pointer; */
    border: 0.6px solid rgba(255, 255, 255, 0.096);
}


.footer ul a .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
    flex-shrink: 0;
}

.footer ul a .avatar svg {
    width: 21px;
    height: 21px;
    /* padding: 0.5rem; */
    border-radius: 0.7rem;
    box-sizing: content-box;
    color: #93939c;
}

.footer ul a .description h1 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #D4D4D8;
}

.footer ul a .description h2 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: rgb(113 113 122 / 1);
}